<mat-drawer-container class="container-sidenav" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-toolbar color="primary">
      <div class="botones">
        <button mat-button [routerLink]="'/heroes'" (click)="checkSubMenu('home')"
          [ngClass]="{'selected-border-menu': optionSubMenu == 'home'}">Home</button>
        <button mat-button [routerLink]="'/heroes/todos'" (click)="checkSubMenu('todos')"
          [ngClass]="{'selected-border-menu': optionSubMenu == 'todos'}">Todos</button>
        <button mat-button [routerLink]="'/heroes/alta'" (click)="checkSubMenu('alta')"
          [ngClass]="{'selected-border-menu': optionSubMenu == 'alta'}">Alta</button>
      </div>
    </mat-toolbar>
  </mat-drawer>


  <div>
    <div class="bienvenida" *ngIf="optionSubMenu == 'home'">
      <h2>Bienvenido al sub menu</h2>
    </div>
    <app-listado *ngIf="optionSubMenu == 'todos'"></app-listado>
    <app-alta *ngIf="optionSubMenu == 'alta'"></app-alta>
  </div>

</mat-drawer-container>