.mat-button {
  border-bottom: 2px solid transparent;
}

.selected-menu {
  background-color: #ccc;
}

.selected-border-menu {
  border-bottom: 2px solid #ccc;
  border-radius: 0;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  padding: 25px 0;
}

mat-toolbar {
  height: 90px;
}

.togle-button {
  background: #3f51b5;
  color: #fff;
  border: 0;
  margin-right: 2em;
}

.login-group {
  margin-left: calc(100vw - 600px);
}