<mat-toolbar color="primary">
  <div>
    <button mat-button [routerLink]="'/'" (click)="checkMenu('home')"
      [ngClass]="{'selected-border-menu': optionMenu == 'home'}">Home</button>
    <button mat-button [routerLink]="'/heroes'" (click)="checkMenu('login')"
      [ngClass]="{'selected-border-menu': optionMenu == 'heroes'}">Heroes</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <div class="contenido">
  <h1>Hola te encuentras en el módulo principal</h1>

  <button mat-raised-button>Ir a heroes</button>
</div> -->