<form (ngSubmit)="sendData()" [formGroup]="superheroForm" fxLayout="column" fxLayoutAlign="center center">

  <mat-form-field appearance="fill">
    <mat-label>Superhero</mat-label>
    <input matInput formControlName="superhero" required>
    <mat-error *ngIf="superheroForm.get('superhero')?.invalid">Este campo es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Selecciona una opción:</mat-label>
    <mat-select formControlName="publisher" required>
      <mat-option [value]="item" *ngFor="let item of publishers">{{item}}</mat-option>
    </mat-select>
    <mat-error *ngIf="superheroForm.get('publisher')?.invalid">Este campo es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Alter Ego</mat-label>
    <input matInput formControlName="alter_ego">
    <mat-error *ngIf="superheroForm.get('alter_ego')?.invalid">Este campo es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Appearance</mat-label>
    <input matInput formControlName="first_appearance">
    <mat-error *ngIf="superheroForm.get('first_appearance')?.invalid">Este campo es
      obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Characters (Character1, Character2, ...)</mat-label>
    <input matInput formControlName="characters">
    <mat-error *ngIf="superheroForm.get('characters')?.invalid">Este campo es obligatorio</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>

</form>